/**
 * Core: Base
 * -----------------------------------------------------------------------------
 */

body {
  position: relative;
  font-family: $font-body;
  text-rendering: optimizeSpeed;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;

}

a {
  display: inline-block;
  text-decoration: none;
}

.align {
  &-extend {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-vertical {
    display: flex;
    align-items: center;
  }
}

.button {
  text-transform: uppercase;
  font-weight: 900;
  transition: all 0.2s ease;

  &.action {
    color: #fff;
    background: $color-red;
    padding: 0.5rem 1.5rem;
    border-radius: 2px;
    font-size: 0.6rem;

    &:hover {
      background: darken($color-red, 20%);
    }
  }
}

.spacer {
  height: 2rem;
  width: 100%;
}

.page {
  &.red { background: $color-red; }
  &.blue { background: $color-blue; }
  &.blue-light { background: $color-blue-light; }
  height: 100vh;
  width: 100%;
}

.text {
  &-underline {
    box-shadow: inset 0 -8px 0 #fff;
    padding-bottom: 0.1em;
  }

  &-title {
    font-size: 4rem;
    font-weight: 900;
    display: inline-block;
  }

  &-subtitle {
    font-size: 2.2rem;
    font-weight: 800;
    line-height: 1.2em;
    display: inline-block;

  }

  &-white { color: #fff; }
  &-blue { color: $color-blue; }

  &-body {
    font-size: 0.9rem;
    line-height: 1.4em;
    font-weight: 500;

    p {
      margin-bottom: 1rem;
    }
  }
}

.strip {
  height: 6px;
  width: 70px;
  display: block;
  margin-top: 1rem;

  &.blue {
    background: $color-blue;
  }
}

body.is-right { cursor: url(../images/arrow-right.png) 4 12, auto; }
body.is-left { cursor: url(../images/arrow-left.png) 4 12, auto; }

.content {
  display: flex;
  // align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px);
  min-width: 100vw;
  max-height: calc(100vh - 80px);
  max-width: 100vw;
  position: relative;
  padding-top: 80px;
}

.foot-note {
  position: absolute;
  bottom: 5rem;
  width: 25rem;

  &__icon {
    width: 3rem;
    padding-bottom: 1rem;
    display: block;
  }

  p {
    line-height: 1.4em;
    font-weight: 500;
  }
}

.chart {
  width: 100%;
}

.effect {
  &-reveal {
    clip-path: inset(100% 0 0 0);
    transform: translateY(20%);

    &.is-active {
      animation: reveal 0.3s forwards cubic-bezier(0.64, 0.57, 0.67, 1.53);
    }
  }

  &-fadeIn {
    opacity: 0;

    &.is-active {
      animation: fadeIn 0.3s forwards cubic-bezier(0.64, 0.57, 0.67, 1.53);
    }
  }
}

@keyframes reveal {
  to {
    clip-path: inset(0 0 0 0);
    transform: translateY(0%);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}