/**
 * Core: Base
 * -----------------------------------------------------------------------------
 */

body {
  position: relative;
  font-family: $font-body;
  text-rendering: optimizeSpeed;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  min-height: 100vh;
  font-variant-numeric: lining-nums;
  transition: all 0.1s ease;

  @include mq(small) {
    overflow: auto;
  }

  @include mqh(600px) {
    font-size: 12 !important;
  }
}

img {
  max-width: 100%;
}

.container {
  width: 90vw;
  margin: 0 auto;
  height: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
}

.align {
  &-extend {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-vertical {
    display: flex;
    align-items: center;
  }
}


// Page and Browser Adjustments

.main {
  &.overview,
  &.about { background: $color-red; }
  &.challenges { background: $color-blue-light; }
  &.transacting { background: $color-blue-royal; }
  &.transparency { background: $color-teal; }
  &.future { background: $color-yellow; }
}

.safari .main {
  &.overview { background: #FF6251; }
  &.challenges { background: #C9E3E5; }
  &.transparency { background: #00D7C5; }
  &.transacting { background: #637CFF; }
  &.future { background: #FFD725;}
}

.firefox .main {
  &.overview { background: #fb4147; }
  &.challenges { background: #cde9e6; }
  &.transparency { background: #07f1c5; }
  &.transacting { background: #5865ff; }
  &.future { background: #ffe12b;}
}

.firefox .chart {
  filter: contrast(110%);
}

.page {
  height: calc(100vh - 122px);
  width: 100%;
}

.content.is-right {
  cursor: url(../images/arrow-right.png) 4 12,
          url(../images/arrow-right.cur),
          auto;
}

.content.is-left {
  cursor: url(../images/arrow-left.png) 4 12,
          url(../images/arrow-left.cur),
          auto;
}


.content {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  max-width: 100vw;
  height: 100%;
  position: relative;
}


// Items to add spaces between elements and strips.

.spacer {
  height: 1.6em;
  width: 100%;
}

.strip {
  height: 5px;
  width: 50px;
  display: block;
  margin-top: 1.6em;

  &.blue {
    background: $color-blue;
  }
}

.foot-note {
  padding-bottom: 2em;

  &__icon {
    width: 2em;
    padding-bottom: 1em;
    display: block;

    @include mq(medium) {
      width: 2rem;
      padding-bottom: 0.5rem;
    }
  }

  p {
    line-height: 1.6em;
    font-weight: 500;
    font-size: 0.8em;
    width: 85%;

    @include mqh(660px) {
      font-size: 0.7em;
    }
  }
}

.column-video div:first-child {
  min-height: 70vh;
  display: block;

  @include mqh(660px) {
    min-height: 60vh;
  }
}

// Show Effects

.effect {
  &-reveal {
    clip-path: inset(100% 0 0 0);
    transform: translateY(20%);

    &.is-active {
      animation: reveal 0.3s forwards cubic-bezier(0.64, 0.57, 0.67, 1.53);
    }
  }

  &-fadeIn {
    opacity: 0;

    &.is-active {
      animation: fadeIn 0.3s forwards cubic-bezier(0.64, 0.57, 0.67, 1.53);
    }
  }


  &.delay {
    animation-delay: 0.5s;
  }
}

@keyframes reveal {
  to {
    clip-path: inset(0 0 -10% 0);
    transform: translateY(0%);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}