@media only screen and (max-device-width: 680px) and (orientation: portrait) {
  .overview .mobile .text-subtitle--big {
    font-size: 2rem;
    padding-top: 0 !important;
  }

  .overview .mobile .text-title {
   font-size: 2rem;
  }

  .overview .mobile .spacer {
    display: none;
  }

  .overview-img {
    width: 100%;

    img {
      height: 25vh !important;
      padding-top: 2em;
    }
  }

  .responsive-mask {
    display: flex !important;
  }
}

.responsive-mask {
  background: rgba($color-blue, 1);
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: 100;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: none;

  img {
    width: 80%;
  }
}


.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3em;
  height: 4em;
  background: rgba(#000, 0.1);
  border-radius: 5px;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99;

  img {
    height: 2em;
  }
}

.swiper-button-disabled {
  opacity: 0;
}

.swiper-next { right: 0.5em; }
.swiper-prev { left: 0.5em; }

@media only screen and (max-device-width: 1366px) and (orientation: landscape) {
  .arrow { display: flex; }
}


@media only screen and (max-device-width: 780px) and (orientation: landscape) {

  .main-footer { padding: 0.4rem 0 !important; }

  .page { height: calc(100vh - 56px); }

  .spacer { height: 0.4em; }

  .overview .text-title { font-size: 2em; }
  .overview .text-subtitle--big { font-size: 1.6em; }

  .overview-data__number,
  .overview-data__sample h5 {
    font-size: 0.5rem !important;
  }

  .overview-data__title { font-size: 0.7rem !important; }

  .overview-data__sample { padding-top: 6px !important; }

  .overview-data .circle {
    padding: 0.2rem !important;
    margin-right: 0.3rem !important;
  }

  .overview-data { padding-left: 1rem; }

  .chart {
    display: none;
  }

  .chart-img {
    display: block;
    max-height: 10em;
    width: 100%;
    margin: 1em 0;
  }

  .chart__note-item h4 {
    font-size: 0.6em;
  }

  .text-body {
    font-size: 0.7em;
    line-height: 1.2;
  }


  .text-subtitle {
    font-size: 0.8em;
    margin-top: 1.5em;
    width: 100%;
  }

  .strip {
    margin-top: 0.6em;
    height: 2px;
    width: 25px;
    margin-bottom: 1em;
  }

  .foot-note__icon {
    width: 1rem;
  }

  .foot-note {
    width: 30vw;
    bottom: 80px;
  }

  .chart__title {
    font-size: 0.7em;
    padding-top: 10vh;
  }

  .foot-note p {
    line-height: 1.3em;
    font-weight: 500;
    font-size: 0.6em;
  }

  .main-header {
    padding: 0.4em 0 !important;
  }

  .main-header__brand {
    width: 80px !important;
  }

  .col-md-4,
  .col-md-8 {
    width: 45vw;
  }

  .future-text .number-item p { font-size: 0.5em; }
}

@media only screen and (max-device-width: 570px) and (orientation: landscape) {
  .overview .text-subtitle--big,
  .overview .text-title {
    font-size: 1em;
  }

  .overview-data__title { font-size: 0.5em !important; }

  .overview-data__sample h5 { font-size: 0.4rem !important; }
  .foot-note { display: none; }
}