//- JavaScript
case env
  when "dev"
    script(src="/vendors/bundle.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Flowtype.js/1.1.0/flowtype.min.js")
      script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="/scripts/gif.js")
    script(src="/scripts/main.js")
  when "stage"
  when "prod"
    script(src="/vendors/bundle.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Flowtype.js/1.1.0/flowtype.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="/scripts/gif.js")
    script(src="/scripts/main.min.js")