.swiper-slide(data-section="about")
  .content
    div.container
      .row.start-md
        .col-md-6
          .spacer
          h3.text-subtitle--big.text-blue.effect.effect-reveal About IAS
          .strip.blue
          .spacer
          .text-body
            p.small.text-white Integral Ad Science (IAS) is a global measurement and analytics company that builds verification, optimisation, and analytics solutions to empower the advertising industry to invest with confidence and activate consumers everywhere, on every device.
            p.small.text-white We solve the most pressing problems for brands, agencies, publishers, and technology companies by verifying that every impression has the opportunity to be effective, and optimising towards those opportunities to consistently improve results. Built on data science and engineering, IAS is headquartered in New York with global operations in thirteen countries.
          .spacer
          .buttons
            a(href="https://integralads.com/", target="_blank").button.white Visit our site
            a(href="https://insider.integralads.com", target="_blank").button.white More from IAS
        .col-md-6.align-center
          img.chart-img.effect.effect-fadeIn.delay(src="images/overview-1.svg")
          video.chart.effect.effect-show.delay(playsinline autoplay muted, style="height: 65vh;")
            source(src="images/IAS_01.mp4", type="video/mp4")