.page.swiper-container.red(data-section="6")
  .swiper-wrapper
    .swiper-slide
      .content
        div.container
          .row.start-md
            .col-md-4
              h3.text-subtitle.text-blue.effect.effect-reveal About IAS
              .strip.blue
              .spacer
              .text-body
                p.text-white Integral Ad Science (IAS) is a global measurement and analytics company that builds verification, optimization, and analytics solutions to empower the advertising industry to invest with confidence and activate consumers everywhere, on every device.
                p.text-white We solve the most pressing problems for brands, agencies, publishers, and technology companies by verifying that every impression has the opportunity to be effective, optimizing towards opportunities to consistently improve results, and analyzing digital’s impact on consumer actions. Built on data science and engineering, IAS is headquartered in New York with global operations in thirteen countries.
                p.text-white Our growth and innovation have been recognized in Inc. 5000, Crain’s Fast 50, Forbes America’s Most Promising Companies, and as an I-COM Smart Data Marketing Technology Company.
              .spacer
              .buttons
                a(href="#").button.white Visit our site
                a(href="#").button.white More from IAS
            .col-md-8.align-center
              img.effect.effect-reveal(src="images/overview-1.svg", style="height: 55vh;")