.swiper-slide(data-section="challenges")
  .content
    div.container
      .row
        .col-md-4.column-start
          div
            h2.text-subtitle.text-blue.reveal.effect.effect-reveal Buy side digital advertising professionals see GDPR, transparency and brand safety as greater challenges to tackle in 2018.
            .strip.blue
            .spacer
            .text-body.effect.effect-reveal
              p.text-blue With GDPR coming into effect on May 25th 2018, the new data privacy regulation came top of the list of challenges industry professionals are to face this year.  This was followed closely by media quality transparency and the ongoing struggle with brand safety.
          .foot-note.blue.effect.effect-fadeIn
            img.foot-note__icon(src="images/question-red.svg")
            p.text-blue Which of the following industry challenges do you see becoming A GREATER challenge in 2018 compared to 2017? (Please select all that apply).
        .col-md-8.column-video
          div
            h4.chart__title.text-blue.effect.effect-reveal
                | Top 5 industry challenges in 2018
                br
                | (% total buy side respondents)
            img.chart-img.effect.effect-fadeIn.delay(src="images/charts/2.svg")
            video.chart.effect.effect-show.delay(playsinline muted)
              source(src="images/charts/IAS_03.mp4", type="video/mp4")
.swiper-slide(data-section="challenges")
  .content
    div.container
      .row.start-md
        .col-md-4.column-start
          div
            h2.text-subtitle.text-blue.reveal.effect.effect-reveal Brands and agencies aren't always on the same page about challenges they will face.
            .strip.blue
            .spacer
            .text-body.effect.effect-reveal
              p.text-blue Brands are more likely to see challenges around attribution modelling. Whilst there is a similar concern around privacy, agencies are more likely to see greater challenges in mobile due to lack of in-app measurement.
          .foot-note.blue.effect.effect-fadeIn
            img.foot-note__icon(src="images/question-red.svg")
            p.text-blue Which of the following industry challenges do you see becoming A GREATER challenge in 2018? (Select all that apply).
        .col-md-8.column-video
          div
            h4.chart__title.text-blue.effect.effect-reveal
                | Industry challenges in 2018 - brands vs. agencies
                br
                | (% total buy side respondents)
            img.chart-img.effect.effect-fadeIn.delay(src="images/charts/3.svg")
            video.chart.effect.effect-show.delay(playsinline muted)
              source(src="images/charts/IAS_04.mp4", type="video/mp4")
            ul.chart__note.text-blue.effect.effect-fadeIn
              li.chart__note-item
                span.circle.blue
                h4 Brand
              li.chart__note-item
                span.circle.red
                h4 Agency
.swiper-slide(data-section="challenges")
  .content
    div.container
      .row
        .col-md-4.column-start
          div
            h2.text-subtitle.text-blue.reveal.effect.effect-reveal When focusing on programmatic, 2017 was a year of media quality challenges.
            .strip.blue
            .spacer
            .text-body.effect.effect-reveal
              p.text-blue Programmatic advertising continues to improve transacting and targeting in digital advertising. However, increased automation has led to overall increased concerns around perceived brand risk, poor viewability and levels of ad fraud in programmatic advertising.
          .foot-note.blue.effect.effect-fadeIn
            img.foot-note__icon(src="images/question-red.svg")
            p.text-blue Over the past year, which of the following do you think were significant challenges programmatic advertisers faced? (Select all that apply).
        .col-md-8.column-video
          div
            h4.chart__title.text-blue.effect.effect-reveal
              | Programmatic challenges in 2017
              br
              | (% respondents)
            img.chart-img.effect.effect-fadeIn.delay(src="images/charts/4.svg")
            video.chart.effect.effect-show.delay(playsinline muted)
              source(src="images/charts/IAS_05.mp4", type="video/mp4")
.swiper-slide(data-section="challenges")
  .content
    div.container
      .row
        .col-md-4.column-start
          div
            h2.text-subtitle.text-blue.reveal.effect.effect-reveal Measurement will become a focal point for 2018, with brand safety ranked as the most important quality metric to measure.
            .strip.blue
            .spacer
            .text-body.effect.effect-reveal
              p.text-blue From ISIS to attacks across European cities, brands had a challenging year in regards to brand safety. With headlines revealing ads that appeared alongside unsavoury content. It's no surprise that when asked to rank media quality metrics, industry professionals put brand safety on top for 2018.
          .foot-note.blue.effect.effect-fadeIn
            img.foot-note__icon(src="images/question-red.svg")
            p.text-blue Thinking ahead to 2018, please order the following topics from the most important to the least in regards to digital campaign performance measurement. (Rank 1 has the strongest impact and 5 has the lowest impact - Based on those who ranked metric 1 or 2.).
        .col-md-8.column-video
          div
            h4.chart__title.text-blue.effect.effect-reveal
                | Most important measurement metrics
                br
                | (% ranked highest to lowest)
            img.chart-img.effect.effect-fadeIn.delay(src="images/charts/5.svg")
            video.chart.effect.effect-show.delay(playsinline muted)
              source(src="images/charts/IAS_06.mp4", type="video/mp4")
.swiper-slide(data-section="challenges")
  .content
    div.container
      .row
        .col-md-4.column-start
          div
            h2.text-subtitle.text-blue.reveal.effect.effect-reveal Fake news will challenge not only the advertising industry, but society as a whole.
            .strip.blue
            .spacer
            .text-body.effect.effect-reveal
              p.text-blue Fake news is creating a crisis of trust. When asked how strongly industry professionals agree waith statements about fake news, it’s clear that concern about the issue goes well beyond advertising industry worries.
          .foot-note.blue.effect.effect-fadeIn
            img.foot-note__icon(src="images/question-red.svg")
            p.text-blue Thinking about 2018, indicate how strongly you agree with the following statements.
        .col-md-8.column-video
          div
            h4.chart__title.text-blue.effect.effect-reveal
                | Statements about fake news
                br
                | (% total respondents by agreement level)
            img.chart-img.effect.effect-fadeIn.delay(src="images/charts/6.svg")
            video.chart.effect.effect-show.delay(playsinline muted)
              source(src="images/charts/IAS_07.mp4", type="video/mp4")
            ul.chart__note.text-blue.effect.effect-fadeIn
              li.chart__note-item
                span.circle.red
                h4 Somewhat agree
              li.chart__note-item
                span.circle.red-dark
                h4 Strongly agree