.page.swiper-container.blue-light(data-section="2")
  .swiper-wrapper
    .swiper-slide
      .content
        div.container
          .row.start-md
            .col-md-6
              h2.text-subtitle.text-blue.reveal.effect.effect-reveal Digital advertising professionals see trust, transparency, and measurement as increasing challenges in 2018.
              .strip.blue
              .spacer
              .text-body.col-md-8.no-padding.effect.effect-reveal
                p.text-blue Big consumer data breaches in 2017 drove privacy concerns to the top of the list of challenges industry professionals faced last year, followed closely by ad blocking and the ongoing struggle with fraud.
              .foot-note.blue.effect.effect-fadeIn
                img.foot-note__icon(src="images/question-red.svg")
                p.text-blue In your opinion, which of the following industry challenges do you see becoming A GREATER challenge in 2018 compared to 2017? (Please select all that apply).
            .col-md-6.align-center
              video.chart
                source(src="images/charts/challenges/1.mp4", type="video/mp4")
    .swiper-slide
      .content
        div.container
          .row.start-md
            .col-md-6
              h2.text-subtitle.text-blue.reveal.effect.effect-reveal But, brands and agencies aren’t always on the same page about challenges they will face.
              .strip.blue
              .spacer
              .text-body.col-md-8.no-padding.effect.effect-reveal
                p.text-blue Not only do brands have greater concerns around privacy, they are also more likely to see challenges proving ROI. Agencies are more likely to see greater challenges in measurement in 2018.
              .foot-note.blue.effect.effect-fadeIn
                img.foot-note__icon(src="images/question-red.svg")
                p.text-blue In your opinion, which of the following industry challenges do you see becoming A GREATER challenge in 2018 compared to 2017? (Please select all that apply).
            .col-md-6.align-center
              video.chart
                source(src="images/charts/challenges/1.mp4", type="video/mp4")