.swiper-slide(data-section="challenges")
  .content
    div.container
      .row
        .col-md-4.column-start
          div
            h2.text-subtitle.text-blue.reveal.effect.effect-reveal Digital advertising professionals see trust, transparency, and measurement as increasing challenges in 2018.
            .strip.blue
            .spacer
            .text-body.effect.effect-reveal
              p.text-blue Big consumer data breaches in 2017 drove privacy concerns to the top of the list of challenges industry professionals faced last year, followed closely by ad blocking and the ongoing struggle with fraud.
          .foot-note.blue.effect.effect-fadeIn
            img.foot-note__icon(src="images/question-red.svg")
            p.text-blue In your opinion, which of the following industry challenges do you see becoming A GREATER challenge in 2018 compared to 2017? (Please select all that apply).
        .col-md-8.column-video
          div
            h4.chart__title.text-blue.effect.effect-reveal
                | Top 5 industry challenges in 2018
                br
                | (% total respondents)
            img.chart-img(src="images/charts/2.svg")
            video.chart.effect.effect-fadeIn.delay(playsinline muted)
              source(src="images/charts/IAS_03.mp4", type="video/mp4")
.swiper-slide(data-section="challenges")
  .content
    div.container
      .row.start-md
        .col-md-4.column-start
          div
            h2.text-subtitle.text-blue.reveal.effect.effect-reveal But, brands and agencies aren’t always on the same page about challenges they will face.
            .strip.blue
            .spacer
            .text-body.effect.effect-reveal
              p.text-blue Not only do brands have greater concerns around privacy, they are also more likely to see challenges proving ROI. Agencies are more likely to see greater challenges in measurement in 2018.
          .foot-note.blue.effect.effect-fadeIn
            img.foot-note__icon(src="images/question-red.svg")
            p.text-blue In your opinion, which of the following industry challenges do you see becoming A GREATER challenge in 2018 compared to 2017? (Please select all that apply).
        .col-md-8.column-video
          div
            h4.chart__title.text-blue.effect.effect-reveal
                | Industry challenges in 2018 - brands vs. agencies
                br
                | (% respondents)
            img.chart-img(src="images/charts/3.svg")
            video.chart.effect.effect-fadeIn.delay(playsinline muted)
              source(src="images/charts/IAS_04.mp4", type="video/mp4")
            ul.chart__note.text-blue.effect.effect-fadeIn
              li.chart__note-item
                span.circle.blue
                h4 Brands
              li.chart__note-item
                span.circle.red
                h4 Agencies
.swiper-slide(data-section="challenges")
  .content
    div.container
      .row
        .col-md-4.column-start
          div
            h2.text-subtitle.text-blue.reveal.effect.effect-reveal When focusing on programmatic, 2017 was a year of media quality challenges.
            .strip.blue
            .spacer
            .text-body.effect.effect-reveal
              p.text-blue Programmatic advertising continues to improve transacting, targeting, and reporting in digital advertising. However, increasing automation of the transacting process has led to increased media quality concerns around fraud, brand risk, and viewability.
          .foot-note.blue.effect.effect-fadeIn
            img.foot-note__icon(src="images/question-red.svg")
            p.text-blue Over the past year, which of the following do you think were significant challenges programmatic advertisers faced? (Please select all that apply).
        .col-md-8.column-video
          div
            h4.chart__title.text-blue.effect.effect-reveal
              | Programmatic challenges in 2017
              br
              | (% respondents)
            img.chart-img(src="images/charts/4.svg")
            video.chart.effect.effect-fadeIn.delay(playsinline muted)
              source(src="images/charts/IAS_05.mp4", type="video/mp4")
.swiper-slide(data-section="challenges")
  .content
    div.container
      .row
        .col-md-4.column-start
          div
            h2.text-subtitle.text-blue.reveal.effect.effect-reveal Measurement will be a big focal point in 2018 and brand safety was ranked as the most important media quality metric to measure.
            .strip.blue
            .spacer
            .text-body.effect.effect-reveal
              p.text-blue From ISIS to electoral politics, brands had a challenging year in regards to brand safety. With constant headlines telling stories of ads appearing within unsavory content, it’s no surprise that when asked to rank media quality metrics, industry professionals put brand safety on top.
          .foot-note.blue.effect.effect-fadeIn
            img.foot-note__icon(src="images/question-red.svg")
            p.text-blue Thinking ahead to 2018, please order the following topics from the most important to the least in regards to digital campaign performance measurement. (Rank 1 as having the strongest impact and 5 having the lowest impact) (% based on those who ranked metric #1 or #2).
        .col-md-8.column-video
          div
            h4.chart__title.text-blue.effect.effect-reveal
                | Most important measurement metrics
                br
                | (% ranked highest to lowest)
            img.chart-img(src="images/charts/5.svg")
            video.chart.effect.effect-fadeIn.delay(playsinline muted)
              source(src="images/charts/IAS_06.mp4", type="video/mp4")
.swiper-slide(data-section="challenges")
  .content
    div.container
      .row.start-md
        .col-md-4.column-start
          div
            h2.text-subtitle.text-blue.reveal.effect.effect-reveal And, when we asked budget decision makers about measurement, brand safety became an even greater concern.
            .strip.blue
            .spacer
            .text-body.effect.effect-reveal
              p.text-blue We wanted to understand which metrics meant the most to the professionals who influence advertiser budgets. Results show budget decision makers are even more concerned about brand safety and fraud.
          .foot-note.blue.effect.effect-fadeIn
            img.foot-note__icon(src="images/question-red.svg")
            p.text-blue Thinking ahead to 2018, please order the following topics from the most important to the least in regards to digital campaign performance measurement. (Rank 1 as having the strongest impact and 5 having the lowest impact) (% based on those who ranked metric #1 or #2).
        .col-md-8.column-video
          div
            h4.chart__title.text-blue.effect.effect-reveal
                | Most important measurement metrics to budget decision makers
                br
                | (% ranked highest to lowest)
            img.chart-img(src="images/charts/6.svg")
            video.chart.effect.effect-fadeIn.delay(playsinline muted)
              source(src="images/charts/IAS_07.mp4", type="video/mp4")
            ul.chart__note.text-blue.effect.effect-fadeIn
              li.chart__note-item
                span.circle.blue
                h4 All
              li.chart__note-item
                span.circle.red
                h4 Budget decisions makers
.swiper-slide(data-section="challenges")
  .content
    div.container
      .row
        .col-md-4.column-start
          div
            h2.text-subtitle.text-blue.reveal.effect.effect-reveal Fake news will challenge not just the advertising industry, but also society as a whole.
            .strip.blue
            .spacer
            .text-body.effect.effect-reveal
              p.text-blue Fake news is creating a crisis of trust. When asked how strongly industry professionals agree with statements about fake news, it’s clear that concern about the issue goes beyond advertising industry worries.
          .foot-note.blue.effect.effect-fadeIn
            img.foot-note__icon(src="images/question-red.svg")
            p.text-blue Thinking about 2018, please indicate how strongly you agree with the following statements:
        .col-md-8.column-video
          div
            h4.chart__title.text-blue.effect.effect-reveal
                | Statements about fake news
                br
                | (% total respondents by agreement level)
            img.chart-img(src="images/charts/7.svg")
            video.chart.effect.effect-fadeIn.delay(playsinline muted)
              source(src="images/charts/IAS_08.mp4", type="video/mp4")
            ul.chart__note.text-blue.effect.effect-fadeIn
              li.chart__note-item
                span.circle.red
                h4 Somewhat agree
              li.chart__note-item
                span.circle.red-dark
                h4 Strongly agree