.page.swiper-container.yellow(data-section="5", data-name="future")
  .swiper-wrapper
    .swiper-slide
      .content
        div.container
          .row.start-md
            .col-md-4
              h2.text-subtitle.text-blue.reveal.effect.effect-reveal Looking ahead to 2018, the industry sees opportunity in cross-device and programmatic campaigns.
              .strip.blue
              .spacer
              .text-body.effect.effect-reveal
                p.text-blue When asked about greater opportunities in 2018, the industry is putting its chips on cross-device and programmatic solutions. Over half of respondents see cross device campaigns, programmatic TV, and programmatic advertising as greater opportunities compared to 2017.
              .foot-note.blue.effect.effect-fadeIn
                img.foot-note__icon(src="images/question-red.svg")
                p.text-blue In your opinion, which of the following industry challenges do you see becoming an opportunity in 2018 compared to 2017? (Please select all that apply).
            .col-md-8
              h4.chart__title.text-blue.effect.effect-reveal
                  | Top industry opportunities in 2018
                  br
                  | (% total respondents)
              video.chart.effect.effect-fadeIn.delay(playsinline)
                source(src="images/charts/IAS_17.mp4", type="video/mp4")
    .swiper-slide
      .content
        div.container
          .row.start-md
            .col-md-4
              h2.text-subtitle.text-blue.reveal.effect.effect-reveal Brands and agencies also differ on where they see 2018 opportunities.
              .strip.blue
              .spacer
              .text-body.effect.effect-reveal
                p.text-blue Brands are 16% more likely than agencies to see greater opportunity in cross-device advertising. However, agencies are 13% more likely than brands to see 2018 as a year of programmatic TV opportunity.
              .foot-note.blue.effect.effect-fadeIn
                img.foot-note__icon(src="images/question-red.svg")
                p.text-blue In your opinion, which of the following will offer A GREATER opportunity for advertisers in 2018 compared to 2017? (Please select all that apply).
            .col-md-8
              h4.chart__title.text-blue.effect.effect-reveal
                  | Top industry opportunities in 2018
                  br
                  | (% Brands vs. agencies)
              video.chart.effect.effect-fadeIn.delay(playsinline)
                source(src="images/charts/IAS_18.mp4", type="video/mp4")
              ul.chart__note.text-blue.effect.effect-fadeIn
                li.chart__note-item
                  span.circle.red
                  h4 Brands
                li.chart__note-item
                  span.circle.blue
                  h4 Agencies
    .swiper-slide
      .content
        div.container
          .row.start-md
            .col-md-4
              h2.text-subtitle.text-blue.reveal.effect.effect-reveal Which tech innovations will drive change in 2018?
              .strip.blue
              .spacer
              .text-body.effect.effect-reveal
                p.text-blue The industry, especially brands and agencies, has its eye on technologies that can automate big data processes like machine learning and AI. Publishers are more likely to see impact on the industry from AR/VR solutions and facial recognition technology.
              .foot-note.blue.effect.effect-fadeIn
                img.foot-note__icon(src="images/question-red.svg")
                p.text-blue Thinking about 2018, please rank the following innovations on likelihood to have a significant impact on digital advertising strategies. (Rank 1 as having the strongest impact and 5 having the lowest impact) (% reflect those ranked 1 or 2 top-2 box).
            .col-md-8
              h4.chart__title.text-blue.effect.effect-reveal
                  | Innovations likely to impact the industry in 2018
                  br
                  | (% by brands & agencies vs. publishers )
              video.chart.effect.effect-fadeIn.delay(playsinline)
                source(src="images/charts/IAS_19.mp4", type="video/mp4")
              ul.chart__note.text-blue.effect.effect-fadeIn
                li.chart__note-item
                  span.circle.red
                  h4 Brands & agencies
                li.chart__note-item
                  span.circle.blue
                  h4 Publishers
    .swiper-slide
      .content
        div.container
          .row.start-md
            .col-md-12.row
              .col-md-4
                .spacer
                h2.text-subtitle.text-blue.reveal.effect.effect-reveal
                  | In conclusion, here’s what
                  br
                  | we learned:
                .strip.blue
              .row
                .col-md-4
                  .number-item
                    .number-item__number
                      span 1
                    p.text-blue Brands and agencies differ on 2018’s biggest challenges and this difference is likely to cause some friction on the buy-side.
                  .number-item
                    .number-item__number
                      span 2
                    p.text-blue Budget decision makers want more transparency, especially for social where video and fake news present new challenges.
                  .number-item
                    .number-item__number
                      span 3
                    p.text-blue The industry agrees that there should be a single standard to transact on, no one is aligned on what that standard should be.
                .col-md-4
                  .number-item
                    .number-item__number
                      span 4
                    p.text-blue In 2018 industry professionals see big opportunities in cross-device campaign distribution and programmatic solutions.
                  .number-item
                    .number-item__number
                      span 5
                    p.text-blue Innovations in advanced computing like AI and machine learning will be important factors in digital advertising in 2018.