.swiper-slide(data-section="future")
  .content
    div.container
      .row
        .col-md-4.column-start
          div
            h2.text-subtitle.text-blue.reveal.effect.effect-reveal Buy side professionals see opportunity in programmatic TV in 2018.
            .strip.blue
            .spacer
            .text-body.effect.effect-reveal
              p.text-blue When asked about challenges becoming opportunities in 2018, the industry is putting its bets on programmatic TV and multi-touch attribution modelling.
          .foot-note.blue.effect.effect-fadeIn
            img.foot-note__icon(src="images/question-red.svg")
            p.text-blue Which of the following industry challenges do you see becoming an opportunity in 2018? (Select all that apply).
        .col-md-8.column-video
          div
            h4.chart__title.text-blue.effect.effect-reveal
                | Top industry opportunities in 2018
                br
                | (% total respondents)
            img.chart-img.effect.effect-fadeIn.delay(src="images/charts/11.svg")
            video.chart.effect.effect-show.delay(playsinline muted)
              source(src="images/charts/IAS_12.mp4", type="video/mp4")
            ul.chart__note.text-blue.effect.effect-fadeIn
              li.chart__note-item
                span.circle.red
                h4 Brand
              li.chart__note-item
                span.circle.blue
                h4 Agency
.swiper-slide(data-section="future")
  .content
    div.container
      .row
        .col-md-4.column-start
          div
            h2.text-subtitle.text-blue.reveal.effect.effect-reveal Brands and agencies differ on where they see the greatest 2018 opportunity.
            .strip.blue
            .spacer
            .text-body.effect.effect-reveal
              p.text-blue Brands are more likely than agencies to see greater opportunity in multi-touch attribution modelling. However, agencies are more likely to see opportunities coming from cross-device in 2018.
          .foot-note.blue.effect.effect-fadeIn
            img.foot-note__icon(src="images/question-red.svg")
            p.text-blue Which of the following will offer A GREATER opportunity for advertisers in 2018? (Select all that apply).
        .col-md-8.column-video
          div
            h4.chart__title.text-blue.effect.effect-reveal
                | Top industry opportunities in 2018
                br
                | (% brands vs. agencies)
            img.chart-img.effect.effect-fadeIn.delay(src="images/charts/12.svg")
            video.chart.effect.effect-show.delay(playsinline muted)
              source(src="images/charts/IAS_13.mp4", type="video/mp4")
            ul.chart__note.text-blue.effect.effect-fadeIn
              li.chart__note-item
                span.circle.red
                h4 Brands
              li.chart__note-item
                span.circle.blue
                h4 Agencies
.swiper-slide(data-section="future")
  .content
    div.container
      .row.is-column
        .future-title
          h2.text-subtitle.text-blue.reveal.effect.effect-reveal
            | In conclusion, here’s what
            br
            | we learned:
          .strip.blue
        .future-text
          .col-md-4
            .number-item
              .number-item__number
                span 1
              p.text-blue GDPR and transparency are top-of-mind for UK brands in 2018.
            .number-item
              .number-item__number
                span 2
              p.text-blue Programmatic has great potential but fraud, viewability and brand risk threaten this.
            .number-item
              .number-item__number
                span 3
              p.text-blue After the troubles of 2017, brand risk is the major concern for the entire UK advertising industry.
            .number-item
              .number-item__number
                span 4
              p.text-blue Fake news is perceived as a threat not only to the industry, but to society as a whole.
          .col-md-4
            .number-item
              .number-item__number
                span 5
              p.text-blue Delivering ads next to risky content will become the biggest threat to future investment.
            .number-item
              .number-item__number
                span 6
              p.text-blue Social media transparency is a key concern and budgets will likely be impacted.
            .number-item
              .number-item__number
                span 7
              p.text-blue The majority of UK buyers and sellers currently use the MRC standard for viewabiility.
            .number-item
              .number-item__number
                span 8
              p.text-blue Programmatic TV is to provide the greatest opportunity for the advertising industry in 2018.