extends /extends/layout

block content
  header.main-header
    .container
      .main-header__nav
        a.close-menu
          img.logo(src="images/close.svg")
        a.main-header__brand(href="https://integralads.com", target="_blank")
          img.logo(src="images/logo.svg")
        nav.main-header__menu
          a(href="javascript:;", data-section="overview", data-slide="0") Overview
          a(href="javascript:;", data-section="challenges", data-slide="2") Challenges
          a(href="javascript:;", data-section="transparency", data-slide="9" ) Transparency
          a(href="javascript:;", data-section="transacting", data-slide="12") Transacting
          a(href="javascript:;", data-section="future", data-slide="16" ) The Future
          a(href="javascript:;", data-section="about", data-slide="20") About
          a.button.action(href="images/IAS_Web_Enero_30_PDF.pdf", target="_blank") Download Full Report
        nav.mobile-nav
          a.button.action(href="images/IAS_Web_Enero_30_PDF.pdf", target="_blank") Download Full Report
          a.toggle
            img.logo(src="images/toggle.svg")
  main.main
    .page.overview.swiper-container
      .arrow.swiper-prev
        img.logo(src="images/arrow-left.png")
      .arrow.swiper-next
        img.logo(src="images/arrow-right.png")
      .swiper-wrapper
        include overview.pug
        include challenges.pug
        include transparency.pug
        include transacting.pug
        include future.pug
        include about.pug
  .responsive-mask
    img(src="images/mobile.svg")
  footer.main-footer
    .container
      .main-footer__container
        .main-footer__content
          h4 Metrics that move digital forward
          span.sep |
          a(href="http://integralads.com/uk", target="_blank") integralads.com/uk
        .main-footer__social
          a(href="https://www.facebook.com/Integralads/", target="_blank").fa.fa-facebook-square
          a(href="https://twitter.com/Integralads/", target="_blank").fa.fa-twitter
          a(href="https://www.youtube.com/user/IntegralAds", target="_blank").fa.fa-youtube-play
          a(href="https://www.linkedin.com/company/integralads/", target="_blank").fa.fa-linkedin
          a(href="https://plus.google.com/+IntegralAds", target="_blank").fa.fa-google
  .background-video
    video.overview(autoplay playsinline muted, data-video="overview")
      source(src="images/1.mp4", type="video/mp4")
    video.challenges(autoplay playsinline muted, data-video="challenges")
      source(src="images/2.mp4", type="video/mp4")
    video.transparency(autoplay playsinline muted, data-video="transparency")
      source(src="images/3.mp4", type="video/mp4")
    video.transacting(autoplay playsinline muted, data-video="transacting")
      source(src="images/4.mp4", type="video/mp4")
    video.future(autoplay playsinline muted, data-video="future")
      source(src="images/5.mp4", type="video/mp4")
    video.about(autoplay playsinline muted, data-video="about")
      source(src="images/1.mp4", type="video/mp4")