extends /extends/layout

block content
  header.main-header
    .container
      .main-header__nav
        .main-header__brand
          img.logo(src="images/logo.svg")
        nav.main-header__menu
          a.is-active(href="#", id="1" ,data-section="overview") Overview
          a(href="javascript:;", id="2" ,data-section="challenges") Challenges
          a(href="javascript:;", id="3" ,data-section="transparency") Transparency
          a(href="javascript:;", id="4" ,data-section="transacting") Transacting
          a(href="javascript:;", id="5" ,data-section="future") The Future
          a(href="javascript:;", id="6" ,data-section="about") About
          a.button.action(href="images/IAS_Web_Enero_30_PDF.pdf", target="_blank") Download Full Report
  main.main
  footer.main-footer
    .container
      .main-footer__container
        .main-footer__content
          h4 Metrics that move digital forward
          span.sep |
          a(href="http://integralads.com", target="_blank") integralads.com
        .main-footer__social
          a(href="https://www.facebook.com/Integralads/", target="_blank").fa.fa-facebook-square
          a(href="https://twitter.com/Integralads/", target="_blank").fa.fa-twitter
          a(href="https://www.youtube.com/user/IntegralAds", target="_blank").fa.fa-youtube-play
          a(href="https://www.linkedin.com/company/integralads/", target="_blank").fa.fa-linkedin
          a(href="https://plus.google.com/+IntegralAds", target="_blank").fa.fa-google