.swiper-slide(data-section="overview")
  .content.mobile
    div.container
      .row.start-md
        .col-md-4
          h2.text-title.text-underline.text-white.effect.effect-reveal Look ahead:
          .spacer
          h3.text-subtitle--big.text-blue.effect.effect-reveal  Transparency will
            br
            | shape 2018
          .spacer
          .text-body
            p.text-white We asked professionals from all corners of the digital advertising industry about the challenges they faced in 2017 to learn how those challenges will drive change in 2018.
            p.text-white We invite you to explore what we discovered...
          .country-selector.align-vertical
            label.country-selector__label COUNTRY:
            .country-selector__dropdown
              select.country-selector__select
                option US
        .col-md-8.align-center.overview-img
          img.effect.effect-reveal(src="images/overview-1.svg", style="height: 50vh;")
.swiper-slide(data-section="overview")
  .content
    div.container
      .row.start-md
        .col-md-6
          .spacer
          .spacer
          h2.text-subtitle--big.text-blue.reveal.effect.effect-reveal.overview-subtitle Our goal:
          .strip.blue
          .spacer
          .text-body.effect.effect-reveal
            p.text-white To discover how industry professionals perceived trust, transparency, and innovation in 2017, and how that will impact their focus and budgets in 2018.
          .row
            .overview-data-column.text-white.effect.effect-reveal
              .overview-data
                h4.overview-data__title Dates in field:
                h5.overview-data__number 12.4.17 – 12.15.17
              .overview-data
                h4.overview-data__title Sample:
                h5.overview-data__number 816 digital media professionals
              .overview-data
                h4.overview-data__title Methodology:
                h5.overview-data__number Online survey of IAS database
            .overview-data-column.text-white.effect.effect-reveal
              .overview-data
                h4.overview-data__title Sample breakout:
                ul.overview-data__list
                  li.overview-data__sample
                    span.circle.teal
                    h5 Creative / Media / Full Agency
                  li.overview-data__sample
                    span.circle.blue-royal
                    h5 Publisher
                  li.overview-data__sample
                    span.circle.yellow
                    h5 Other and Tech Company
                  li.overview-data__sample
                    span.circle.blue-light
                    h5 Brand / Advertiser
                  li.overview-data__sample.blue
                    span.circle.blue
                    h5 DSP
                  li.overview-data__sample
                    span.circle.soft-yellow
                    h5 Network or Exchange
                  li.overview-data__sample
                    span.circle.blue-royal
                    h5 Trading Desk
                  li.overview-data__sample
                    span.circle.teal
                    h5 SSP
        .col-md-6.align-center
          video.chart.effect.effect-fadeIn.delay(playsinline muted)
            source(src="images/charts/IAS_02.mp4", type="video/mp4")