.swiper-slide(data-section="transparency")
  .content
    div.container
      .row
        .col-md-4.column-start
          div
            h2.text-subtitle.text-blue.reveal.effect.effect-reveal(style="width: 26vw;") Brands are demanding transparency with their dollars, and these categories are the most likely to impact spending.
            .strip.blue
            .spacer
            .text-body.effect.effect-reveal
              p.text-blue Proving ROI is a big concern for brands, and their budgets  will flow into solutions that provide ROI transparency. Agencies see fraud and risk transparency concerns as the most likely to impact their media budget allocations.
          .foot-note.blue.effect.effect-fadeIn
            img.foot-note__icon(src="images/question-white.svg")
            p.text-blue When thinking about digital advertising budgets in 2018, please rate how strongly you see each of the following as a threat to increasing investment in digital advertising. (1 = very low or no threat, and 5 = a significant threat) (% based on those who rated 4 or 5 top-2 box).
        .col-md-8.column-video
          div
            h4.chart__title.text-blue.effect.effect-reveal
                | Threats to digital advertising budgets
                br
                | (% rated 4 or 5, top-2 box)
            img.chart-img(src="images/charts/8.svg")
            video.chart.effect.effect-fadeIn.delay(playsinline muted)
              source(src="images/charts/IAS_09.mp4", type="video/mp4")
            ul.chart__note.text-blue.effect.effect-fadeIn
              li.chart__note-item
                span.circle.white
                h4 Somewhat agree
              li.chart__note-item
                span.circle.blue
                h4 Strongly agree
.swiper-slide(data-section="transparency")
  .content
    div.container
      .row
        .col-md-4.column-start
          div
            h2.text-subtitle.text-blue.reveal.effect.effect-reveal Brand safety, fraud, and connecting exposure to impact are the worst performers when ranked by level of perceived transparency.
            .strip.blue
            .spacer
            .text-body.effect.effect-reveal
              p.text-blue Unpredictable user generated content, the rise of fake news, and fraudsters have caused industry professionals to rank the levels of transparency within fraud and brand safety as relatively low.
          .foot-note.blue.effect.effect-fadeIn
            img.foot-note__icon(src="images/question-white.svg")
            p.text-blue In your opinion, when thinking about 2018, please rate the level of transparency through data that exists within the industry for the following: (1 = a very low level of transparency, and 5 = a very high level of transparency) (% reflect those who rated metric a 4 or 5 top-2 box).
        .col-md-8.column-video
          div
            h4.chart__title.text-blue.effect.effect-reveal
                | Perceived levels of data transparency
                br
                | (% rated 4 or 5, top-2 box)
            img.chart-img(src="images/charts/9.svg")
            video.chart.effect.effect-fadeIn.delay(playsinline muted)
              source(src="images/charts/IAS_10.mp4", type="video/mp4")
.swiper-slide(data-section="transparency")
  .content
    div.container
      .row
        .col-md-4.column-start
          div
            h2.text-subtitle.text-blue.reveal.effect.effect-reveal Transparency concerns extend to social platforms, too.
            .strip.blue
            .spacer
            .text-body.effect.effect-reveal
              p.text-blue Over 8 in 10 industry professionals agree that there aren’t adequate levels of transparency on social platforms across brand risk, ad fraud, and viewability. However, they aren’t convinced that social media budgets will be impacted.
          .foot-note.blue.effect.effect-fadeIn
            img.foot-note__icon(src="images/question-white.svg")
            p.text-blue Thinking about 2018, please indicate how strongly you agree with the following statements about social media or walled garden platforms.
        .col-md-8.column-video
          div
            h4.chart__title.text-blue.effect.effect-reveal
                | Statements about social media transparency
                br
                | (% total respondents by agreement level)
            img.chart-img(src="images/charts/10.svg")
            video.chart.effect.effect-fadeIn.delay(playsinline muted)
              source(src="images/charts/IAS_11.mp4", type="video/mp4")
            ul.chart__note.text-blue.effect.effect-fadeIn
              li.chart__note-item
                span.circle.blue
                h4 Somewhat agree
              li.chart__note-item
                span.circle.blue-royal
                h4 Strongly agree
.swiper-slide(data-section="transparency")
  .content
    div.container
      .row
        .col-md-4.column-start
          div
            h2.text-subtitle.text-blue.reveal.effect.effect-reveal Video and fake news on social platforms are the biggest sources of this brand risk concern.
            .strip.blue
            .spacer
            .text-body.effect.effect-reveal
              p.text-blue When asked about the biggest brand risk threats on social fake news, videos, and articles topped the list. Brands and agencies are aligned on the top sources of risk on social media platforms.
          .foot-note.blue.effect.effect-fadeIn
            img.foot-note__icon(src="images/question-white.svg")
            p.text-blue When thinking about brand risk within social media platforms for advertisers, what do you think are the biggest threats brands face? (Select all that apply).
        .col-md-8.column-video
          div
            h4.chart__title.text-blue.effect.effect-reveal
                | Brand risk threats on social media
                br
                | (% total respondents)
            img.chart-img(src="images/charts/11.svg")
            video.chart.effect.effect-fadeIn.delay(playsinline muted)
              source(src="images/charts/IAS_12.mp4", type="video/mp4")
            ul.chart__note.text-blue.effect.effect-fadeIn
              li.chart__note-item
                span.circle.white
                h4 Brands
              li.chart__note-item
                span.circle.blue
                h4 Agencies