.page.swiper-container.blue-royal(data-section="4", data-name="transacting")
  .swiper-wrapper
    .swiper-slide
      .content
        div.container
          .row.start-md
            .col-md-4
              h2.text-subtitle.text-blue.reveal.effect.effect-reveal So, with transparency primed to be primary, how are publishers, agencies, and brands pricing media?
              .strip.blue
              .spacer
              .text-body.effect.effect-reveal
                p.text-blue Publishers say they are more likely to transact on a straight or viewable CPM model. But buy side professionals are more likely to indicate that they leverage performance-based pricing such as a cost-per-click or cost-per-action.
              .foot-note.blue.effect.effect-fadeIn
                img.foot-note__icon(src="images/question-white.svg")
                p.text-white To the best of your knowledge in 2017, in which of the following pricing models did your company leverage to transact digital media? (Select all that apply).
            .col-md-8
              h4.chart__title.text-blue.effect.effect-reveal
                  | Media pricing models
                  br
                  | (% buy side vs. sell side)
              video.chart.effect.effect-fadeIn.delay(playsinline)
                source(src="images/charts/IAS_13.mp4", type="video/mp4")
              ul.chart__note.text-white.effect.effect-fadeIn
                li.chart__note-item
                  span.circle.teal
                  h4 Brands & agencies
                li.chart__note-item
                  span.circle.yellow
                  h4 Publishers
    .swiper-slide
      .content
        div.container
          .row.start-md
            .col-md-4
              h2.text-subtitle.text-blue.reveal.effect.effect-reveal Transacting will need to evolve to incorporate media quality metrics.
              .strip.blue
              .spacer
              .text-body.effect.effect-reveal
                p.text-blue Over 9 in 10 industry professionals say that media quality measurement will be essential for accurate digital media transacting. Media quality metrics are positioned to become the currency of the digital marketplace.
              .foot-note.blue.effect.effect-fadeIn
                img.foot-note__icon(src="images/question-white.svg")
                p.text-white Thinking about 2018, please indicate how strongly you agree with the following statements.
            .col-md-8
              h4.chart__title.text-blue.effect.effect-reveal
                  | Statements about media quality and transacting
                  br
                  | (% total respondents by agreement level)
              video.chart.effect.effect-fadeIn.delay(playsinline)
                source(src="images/charts/IAS_14.mp4", type="video/mp4")
              ul.chart__note.text-white.effect.effect-fadeIn
                li.chart__note-item
                  span.circle.blue
                  h4 Somewhat agree
                li.chart__note-item
                  span.circle.teal
                  h4 Strongly agree
    .swiper-slide
      .content
        div.container
          .row.start-md
            .col-md-4
              h2.text-subtitle.text-blue.reveal.effect.effect-reveal Viewability standards are currency, but which standard should we use? Publishers favor the MRC but brands and agencies are embracing their own standards.
              .strip.blue
              .spacer
              .text-body.effect.effect-reveal
                p.text-blue Publishers, brands, and agencies were asked if they leverage viewability standards in media transacting. Publishers are significantly more likely to use the MRC standards, whereas, brands and agencies are over twice as likely to use their own standard as currency.
              .foot-note.blue.effect.effect-fadeIn
                img.foot-note__icon(src="images/question-white.svg")
                p.text-white To the best of your knowledge, are you currently factoring viewability into the way you transact media?
            .col-md-8
              h4.chart__title.text-blue.effect.effect-reveal
                  | Statements about transacting on viewability
                  br
                  | (% by brands & agencies vs. publishers)
              video.chart.effect.effect-fadeIn.delay(playsinline)
                source(src="images/charts/IAS_15.mp4", type="video/mp4")
              ul.chart__note.text-white.effect.effect-fadeIn
                li.chart__note-item
                  span.circle.teal
                  h4 Brands & agencies
                li.chart__note-item
                  span.circle.white
                  h4 Publishers
    .swiper-slide
      .content
        div.container
          .row.start-md
            .col-md-4
              h2.text-subtitle.text-blue.reveal.effect.effect-reveal The market disagrees on whether to use a single standard or to lean on customization.
              .strip.blue
              .spacer
              .text-body.effect.effect-reveal
                p.text-blue Nearly 3 in 4 industry professionals want one billable standard. Over half believe the MRC standard is sufficient, but nearly half of respondents think it could go further.
              .foot-note.blue.effect.effect-fadeIn
                img.foot-note__icon(src="images/question-white.svg")
                p.text-white Please indicate how strongly you agree with the following statements about viewability standards:
            .col-md-8
              h4.chart__title.text-blue.effect.effect-reveal
                  | Statements about viewability standards
                  br
                  | (% total respondents by agreement level)
              video.chart.effect.effect-fadeIn.delay(playsinline)
                source(src="images/charts/IAS_16.mp4", type="video/mp4")
              ul.chart__note.text-white.effect.effect-fadeIn
                li.chart__note-item
                  span.circle.teal
                  h4 Somewhat agree
                li.chart__note-item
                  span.circle.blue
                  h4 Strongly agree