.swiper-slide(data-section="transparency")
  .content
    div.container
      .row
        .col-md-4.column-start
          div
            h2.text-subtitle.text-blue.reveal.effect.effect-reveal Brands are demanding transparency with their spend, and these factors are the most likely to impact spending.
            .strip.blue
            .spacer
            .text-body.effect.effect-reveal
              p.text-blue Advertisers' budgets will flow into solutions that ensure that their ads are not being delivered next to risky content. They see fraud and transparency concerns as the most likely to impact their media budget allocation.
          .foot-note.blue.effect.effect-fadeIn
            img.foot-note__icon(src="images/question-white.svg")
            p.text-blue Rate how strongly you see each of the following as a threat to increasing investment in digital advertising. (1 = very low or no threat, and 5 = a significant threat) (% based on those who rated 4 or 5 top-2 box).
        .col-md-8.column-video
          div
            h4.chart__title.text-blue.effect.effect-reveal
                | Threats to digital advertising budgets
                br
                | (% total respondents rated a significant threat)
            img.chart-img.effect.effect-fadeIn.delay(src="images/charts/8.svg")
            video.chart.effect.effect-show.delay(playsinline muted)
              source(src="images/charts/IAS_09.mp4", type="video/mp4")
            ul.chart__note.text-blue.effect.effect-fadeIn
              li.chart__note-item
                span.circle.white
                h4 Brands
              li.chart__note-item
                span.circle.blue
                h4 Agencies
.swiper-slide(data-section="transparency")
  .content
    div.container
      .row
        .col-md-4.column-start
          div
            h2.text-subtitle.text-blue.reveal.effect.effect-reveal Transparency concerns extend to social platforms, too.
            .strip.blue
            .spacer
            .text-body.effect.effect-reveal
              p.text-blue Industry professionals agree that there aren’t adequate levels of transparency on social platforms across brand risk, ad fraud, and viewability. However, industry professionals also feel that viewability is not an important metric to consider when assessing social media campaigns.
          .foot-note.blue.effect.effect-fadeIn
            img.foot-note__icon(src="images/question-white.svg")
            p.text-blue Indicate how strongly you agree with the following statements about social media platforms.
        .col-md-8.column-video
          div
            h4.chart__title.text-blue.effect.effect-reveal
                | Statements about social media transparency
                br
                | (% total respondents by agreement level)
            img.chart-img.effect.effect-fadeIn.delay(src="images/charts/10.svg")
            video.chart.effect.effect-show.delay(playsinline muted)
              source(src="images/charts/IAS_11.mp4", type="video/mp4")
            ul.chart__note.text-blue.effect.effect-fadeIn
              li.chart__note-item
                span.circle.blue
                h4 Somewhat agree
              li.chart__note-item
                span.circle.blue-royal
                h4 Strongly agree
.swiper-slide(data-section="transparency")
  .content
    div.container
      .row
        .col-md-4.column-start
          div
            h2.text-subtitle.text-blue.reveal.effect.effect-reveal Buy side professionals see fake news and video content as higher risk factors to social media campaigns.
            .strip.blue
            .spacer
            .text-body.effect.effect-reveal
              p.text-blue When asked about the biggest brand risks on social, fake news and videos topped the list. Brands and agencies are not aligned on the top sources of risk on social media platforms.
          .foot-note.blue.effect.effect-fadeIn
            img.foot-note__icon(src="images/question-white.svg")
            p.text-blue When thinking about brand risk within social media platforms for advertisers, what do you think are the biggest threats brands face? (Select all that apply).
        .col-md-8.column-video
          div
            h4.chart__title.text-blue.effect.effect-reveal
                | Brand risk threats on social media
                br
                | (% total buy side respondents)
            img.chart-img.effect.effect-fadeIn.delay(src="images/charts/11.svg")
            video.chart.effect.effect-show.delay(playsinline muted)
              source(src="images/charts/IAS_12.mp4", type="video/mp4")
            ul.chart__note.text-blue.effect.effect-fadeIn
              li.chart__note-item
                span.circle.white
                h4 Brand
              li.chart__note-item
                span.circle.blue
                h4 Agency