.swiper-slide(data-section="transacting")
  .content
    div.container
      .row
        .col-md-4.column-start
          div
            h2.text-subtitle.text-blue.reveal.effect.effect-reveal Viewability standards are much discussed, but which standard should we use? Publishers, brands and agencies still favour the MRC over their own standards.
            .strip.blue
            .spacer
            .text-body.effect.effect-reveal
              p.text-blue Brands and agencies are slightly more likely to use the MRC standard than their own. Publishers however, are significantly more likely to use the MRC standard.
          .foot-note.blue.effect.effect-fadeIn
            img.foot-note__icon(src="images/question-white.svg")
            p.text-white To the best of your knowledge, Are you currently factoring viewability into the way you transact media?
        .col-md-8.column-video
          div
            h4.chart__title.text-blue.effect.effect-reveal
                | Statements about transacting on viewability
                br
                | (% by brand & agency vs. publisher)
            img.chart-img.effect.effect-fadeIn.delay(src="images/charts/10.svg")
            video.chart.effect.effect-show.delay(playsinline muted)
              source(src="images/charts/IAS_11.mp4", type="video/mp4")
            ul.chart__note.text-white.effect.effect-fadeIn
              li.chart__note-item
                span.circle.teal
                h4 Buy side
              li.chart__note-item
                span.circle.white
                h4 Publisher