$font-body: 'Raleway', sans-serif;

// Colors
$color-blue: #00324a;
$color-blue-light: #c3dcde;
$color-blue-royal: #596fff;
$color-yellow: #ffd12b;
$color-soft-yellow: #ffffc3;
$color-red: #ff574a;
$color-teal: #00d1c0;
